:root {
    --heading-font: "Roboto";
    --primary-color: #ade8f4;
    /* light blue */
    --secondary-color: #003049;
    /* dark blue */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    color: black;
}

header,
main,
footer {
    width: auto;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

footer img {
    display: block;
    width: 50px;
    height: auto;
}

article {
    position: relative;
    top: 20px;
}

.hero article {
    position: absolute;
    top: 550px;
    width: auto;
    padding: 8px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

.logo-image {
    width: 150px;
    height: auto;
}

h2,
h3 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

nav {
    display: flex;
    gap: 50px;
}

header nav a {
    padding: 8px 10px;
    background-color: var(--primary-color);
    color: #003049;
    text-decoration: none;
    border-radius: 6px;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.history-layout img {
    width: 200px;
    height: auto;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.adventure-gallery figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
}

.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* centers the text */
    position: relative;
    padding: 20px;
}

.footer-left {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}