:root {
    --heading-font: "Roboto";
    --primary-color: #ade8f4;
    /* light blue */
    --secondary-color: #003049;
    /* dark blue */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    color: black;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

footer img {
    display: block;
    width: 50px;
    height: auto;
}

article {
    position: relative;
    top: 20px;
}

.hero article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

logo-image {
    width: 100px;
}

h2,
h3 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

footer img {
    width: 50px;
    height: auto;
}

.socialmedia {
    display: flex;
    gap: 15px;
}