@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --heading-font: "Roboto";
    --primary-color: #ade8f4;
    /* light blue */
    --secondary-color: #003049;
    /* dark blue */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    color: black;
}

header,
main,
footer {
    width: 0 auto;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

footer img {
    display: block;
    width: 50px;
    height: auto;
}

article {
    position: relative;
    top: 20px;
}

.hero article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 8px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

logo {
    width: 100px;
}

h2,
h3 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

footer img {
    width: 50px;
    height: auto;
}

.socialmedia {
    display: flex;
    gap: 15px;
    align-items: left;
}