@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Open+Sans&display=swap');

:root {
  
  --heading-font: Open Sans;
  --paragraph-font: Edu NSW ACT Foundation;

  
  --headline-color-on-white: #04A6C2;  
  --headline-color-on-color: #FEFAE0 ; 
  --paragraph-color-on-white: #BAC892;  
  --paragraph-color-on-color: #FEFAE0 ; 
  --paragraph-background-color: #0499B4 ;
  --nav-link-color: #FEFAE0 ;
  --nav-background-color: #BAC893;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #E0E6B3;

}

.logo {
    width: 80px;
    justify-self: center;
    align-self: center;
}
.wireframe{
    width: 5in;
}
#logo_link{
    width: 80px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #faedcd;
    font-family: Edu NSW ACT Foundation;
}
footer {
    background-color: #faedcd;
    font-family: "Open Sans";
}
