
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display&display=swap');

:root {
  /* change the values below to your colors from your palette */

  /* change the values below to your chosen font(s) */
  --heading-font: "Playfair Display";
  --paragraph-font: Lora;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #04A6C2;  /* headlines on a white background */ 
  --headline-color-on-color: #FEFAE0 ; /* headlines on a colored background */ 
  --paragraph-color-on-white: #BAC892; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FEFAE0 ; /* paragraph text on a colored background */ 
  --paragraph-background-color: #0499B4 ;
  --nav-link-color: #FEFAE0 ;
  --nav-background-color: #BAC893;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #E0E6B3;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #FEFAE0;
  text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  background-color: #D4A373;
}
body {
  background-color: #BAC893;
}
header {
  background-color: #E0E6B3;
}
nav a:hover {
  background-color: #FEFAE0;
  color: #D4A373;
}
.book, .join {
  background-color: #FEFAE0;
  color: #D4A373;
  text-decoration: none;
}
.book:hover, .join:hover {
  background-color:#D4A373;
  color: #E9EDC9;
}
.msg {
  background-color: #E9EDC9 ;
}
footer {
  background-color: #E9EDC9;
}
.home-title {
  color: black;
}
.msg p {
  color: #0499B4;
}
.msg h2 {
  color: #0499B4;
}
footer h3{
  color: #D4A373;
}
footer a{
  color: #FEFAE0;
  text-decoration: none;
}
footer a:hover{
  color: #BAC893;
}
h4{
  color:#04A6C2;
}
.icon{
  width: 80px;
}
.logo{
  width: 80px;
}
#hero-img{
  width: 100%;
}
footer h3 a:hover{
  text-decoration: underline;
}
